<!doctype html>
<html lang="en">
  <head>
  	<title>Music Library Management | Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	
	<link rel="stylesheet" href="css/style.css">

	<script type="text/javascript">
		function checkAuth(){
			const token = localStorage.getItem('token');
			if(!token){
				location.href = "/";
			}
		}
		// check that we have a JWT Token 
		// if no token is available prompt for login
		checkAuth()
	</script>


	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-12">

					<div>
				      	<div class="d-flex">
				      		<div>
				      			<h3 class="mb-4">Welcome to the Music Library Management Dashboard</h3>
				      		</div>			
				      	</div>
						<div class="signin-form">
							<ul class="nav nav-tabs" role="tablist">
							  <li class="nav-item" role="presentation">
							    <a class="nav-link active" id="simple-tab-2" data-bs-toggle="tab" href="#genre" role="tab" aria-controls="simple-tabpanel-2" aria-selected="false">Genre</a>
							  </li>

							  <li class="nav-item" role="presentation">
							    <a class="nav-link" id="simple-tab-0" data-bs-toggle="tab" href="#artists" role="tab" aria-controls="simple-tabpanel-0" aria-selected="true">Artists</a>
							  </li>
							  <li class="nav-item" role="presentation">
							    <a class="nav-link" id="simple-tab-1" data-bs-toggle="tab" href="#albums" role="tab" aria-controls="simple-tabpanel-1" aria-selected="false">Albums</a>
							  </li>
							  <li class="nav-item" role="presentation">
							    <a class="nav-link" id="simple-tab-2" data-bs-toggle="tab" href="#tracks" role="tab" aria-controls="simple-tabpanel-2" aria-selected="false">Tracks</a>
							  </li>
							</ul>

							<div class="tab-content pt-5" id="tab-content">
							 <!--  Genre Page -->
							  <div class="tab-pane active" id="genre" role="tabpanel" aria-labelledby="genre">
							  		
									<div class="card">
										<div class="p-4 p-md-5">
											<div class="row">
							  					<div class="col-md-4">
													<div class="d-flex">
											      		<div class="w-100">
											      			<h3 class="mb-4">Add Genre</h3>
											      		</div>			
										      		</div>
								      

											      	<div class="signin-form">
														<h4 class="mb-4" id="log" style="color: red"></h4>
											      		<div class="form-group mb-3">
											      			<label class="label" for="genre_id">Genre ID <span style="color: red">*</span></label>
											      			<input type="text" class="form-control" placeholder="Genre ID" id="genre_id" required>
											      		</div>

											            <div class="form-group mb-3">
											            	<label class="label" for="name">Genre Name <span style="color: red">*</span></label>
											              <input type="text" class="form-control" placeholder="Genre Name"  id="name" required>
											            </div>

											            <div class="form-group">
											            	<button type="button" class="form-control btn btn-primary rounded submit px-3" onclick="createGenre()">Add</button>
											            </div>
								          			</div>
								          		</div>

								          		<div class="col-md-8">
													<table class="table table-striped">
													  <thead>
													    <tr>
													      <th scope="col">#</th>
													      <th scope="col">Genre ID</th>
													      <th scope="col">Genre Name</th>
										
													    </tr>
													  </thead>
													  <tbody id="genretable">
													    
													  </tbody>
													</table>
								          		</div>
								          	</div>
					          			</div>
						      		</div>

							  </div>
							   <!--  End Genre Page -->

							    <!-- Artists Page -->
							  <div class="tab-pane" id="artists" role="tabpanel" aria-labelledby="simple-tab-2">
									<div class="card">
										<div class="p-4 p-md-5">
											<div class="row">
							  					<div class="col-md-4">
													<div class="d-flex">
											      		<div class="w-100">
											      			<h3 class="mb-4">Add Artist</h3>
											      		</div>			
										      		</div>
								      

											      	<div class="signin-form">
														<h4 class="mb-4" id="log" style="color: red"></h4>
											      		<div class="form-group mb-3">
											      			<label class="label" for="name">Artist ID <span style="color: red">*</span></label>
											      			<input type="text" class="form-control" placeholder="Artist ID" id="artist_id" required>
											      		</div>

											            <div class="form-group mb-3">
											            	<label class="label" for="password">Artist Name <span style="color: red">*</span></label>
											              <input type="text" class="form-control" placeholder="Artist Name"  id="artist_name" required>
											            </div>

											             <div class="form-group mb-3">
											            	<label class="label" for="password">Country <span style="color: red">*</span></label>
											              <input type="text" class="form-control" placeholder="Country"  id="country" required>
											            </div>

											            <div class="form-group">
											            	<button type="button" class="form-control btn btn-primary rounded submit px-3" onclick="signIn()">Add</button>
											            </div>
								          			</div>
								          		</div>

								          		<div class="col-md-8">
													<table class="table table-striped">
													  <thead>
													    <tr>
													      <th scope="col">#</th>
													      <th scope="col">Artist ID</th>
													      <th scope="col">Artist Name</th>
													      <th scope="col">Country</th>
										
													    </tr>
													  </thead>
													  <tbody>
													    <tr>
													      <th scope="row">1</th>
													      <td>Mark</td>
													      <td>Otto</td>
													      <td>Otto</td>
													      <td><button class="btn-primary">Update</button></td>
													      <td><button class="btn-primary">Delete</button></td>
													    </tr>
													   

													  </tbody>
													</table>
								          		</div>
								          	</div>
					          			</div>
						      		</div>
							  </div>
							  <!-- End Artists Page -->

							    <!-- Albums Page -->
							  <div class="tab-pane" id="albums" role="tabpanel" aria-labelledby="simple-tab-2">
							  	<div class="card">
										<div class="p-4 p-md-5">
											<div class="row">
							  					<div class="col-md-4">
													<div class="d-flex">
											      		<div class="w-100">
											      			<h3 class="mb-4">Add Album</h3>
											      		</div>			
										      		</div>
								      

											      	<div class="signin-form">
														<h4 class="mb-4" id="log" style="color: red"></h4>
											      		<div class="form-group mb-3">
											      			<label class="label" for="name">Artist <span style="color: red">*</span></label>
											      			<select class="form-control" id="artist_id">
											      				<option value="">Artist</option>
											      			</select>
											      		</div>

											            <div class="form-group mb-3">
											            	<label class="label" for="password">Album Name <span style="color: red">*</span></label>
											              <input type="text" class="form-control" placeholder="Album Name"  id="album_name" required>
											            </div>


											            <div class="form-group">
											            	<button type="button" class="form-control btn btn-primary rounded submit px-3" onclick="signIn()">Add</button>
											            </div>
								          			</div>
								          		</div>

								          		<div class="col-md-8">
													<table class="table table-striped">
													  <thead>
													    <tr>
													      <th scope="col">#</th>
													      <th scope="col">Artist Name</th>
													      <th scope="col">Album Name</th>
										
													    </tr>
													  </thead>
													  <tbody>
													    <tr>
													      <th scope="row">1</th>
													      <td>Mark</td>
													      <td>Otto</td>
													      <td><button class="btn-primary">Update</button></td>
													      <td><button class="btn-primary">Delete</button></td>
													    </tr>
													   

													  </tbody>
													</table>
								          		</div>
								          	</div>
					          			</div>
						      		</div>
							  </div>
							  <!-- End Albums Page -->


							  <!--  Tracks page -->
							  <div class="tab-pane" id="tracks" role="tabpanel" aria-labelledby="tracks">

							  	<div class="card">
										<div class="p-4 p-md-5">
											<div class="row">
							  					<div class="col-md-4">
													<div class="d-flex">
											      		<div class="w-100">
											      			<h3 class="mb-4">Add Track</h3>
											      		</div>			
										      		</div>
								      

											      	<div class="signin-form">
														<h4 class="mb-4" id="log" style="color: red"></h4>
											      		<div class="form-group mb-3">
											      			<label class="label" for="name">Track Name <span style="color: red">*</span></label>
											      			<input type="text" class="form-control" placeholder="Track Name" id="track_name" required>
											      		</div>

											            <div class="form-group mb-3">
											            	<label class="label" for="password">Track Length<span style="color: red">*</span></label>
											              <input type="text" class="form-control" placeholder="Track Length"  id="length" required>
											            </div>

											            <div class="form-group mb-3">
											            	<label class="label" for="password">Genre <span style="color: red">*</span></label>
											              	<select class="form-control" id="genre_id">
											              		<option value="">genre</option>
											              	</select>
											            </div>

											            <div class="form-group mb-3">
											            	<label class="label" for="password">Album <span style="color: red">*</span></label>
											              	<select class="form-control" id="album_id">
											              		<option value="">Album</option>
											              	</select>
											            </div>


											            <div class="form-group">
											            	<button type="button" class="form-control btn btn-primary rounded submit px-3" onclick="signIn()">Add</button>
											            </div>
								          			</div>
								          		</div>

								          		<div class="col-md-8">
													<table class="table table-striped">
													  <thead>
													    <tr>
													      <th scope="col">#</th>
													      <th scope="col">Track Name</th>
													      <th scope="col">Track Length</th>
													      <th scope="col">Genre</th>
													      <th scope="col">Album</th>
										
													    </tr>
													  </thead>
													  <tbody>
													    <tr>
													      <th scope="row">1</th>
													      <td>Mark</td>
													      <td>Otto</td>
													      <td>Otto</td>
													      <td>Otto</td>
													      <td><button class="btn-primary">Update</button></td>
													      <td><button class="btn-primary">Delete</button></td>
													    </tr>
													   

													  </tbody>
													</table>
								          		</div>
								          	</div>
					          			</div>
						      		</div>
							  	
							  </div>
							 <!--  End Tracks -->

							 <!-- Modals Section -->

							<!--  Update Genre Modal -->
							<div class="modal" tabindex="-1" role="dialog" id="updategenre">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
									    <div class="modal-header">
									        <h5 class="modal-title">Update A Genre</h5>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									    </div>
									    <div class="modal-body">
									        <div class="form-group mb-3">
											    <label class="label" for="name">Genre ID <span style="color: red">*</span></label>
											    <input type="text" class="form-control" placeholder="Genre ID" id="genre_id_modal" required>
											</div>

											<div class="form-group mb-3">
											    <label class="label" for="name">Name <span style="color: red">*</span></label>
											    <input type="text" class="form-control" placeholder="Genre Name" id="genre_name_modal" required>
											</div>

									    </div>
									    <div class="modal-footer">
									        <button type="button" class="btn btn-primary" onclick="updateGenre()">Save changes</button>
									        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									    </div>
									</div>
								</div>
							</div>
							<!--  End Update Genre Modal -->


							 

							</div>
							
		           
		          		</div>
		         
		        		</div>
		      		</div>
				</div>
			</div>
		</div>
	</section>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

<script>
	function createGenre(){
		const token = localStorage.getItem('token');
		var genre_id=$("#genre_id").val()
		var name=$("#name").val()
		// Example of storing the JWT after login
		fetch('http://localhost:3000/api/admin/creategenre', {
		  mode: 'cors',
		  method: 'POST',
		  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`},
		  body: JSON.stringify({genre_id:genre_id,name:name})
		})
		.then(response => {
			console.log(response)
			return response.json()
		})
		.then(data => {
			console.log(data)
			location.href = "/dashboard";
			$("#log").html("Genre Created Successfully")

		});
	}

	function readGenres(){
		const token = localStorage.getItem('token');
		// Example of storing the JWT after login
		fetch('http://localhost:3000/api/admin/readgenres', {
		  mode: 'cors',
		  method: 'GET',
		  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`}
		})
		.then(response => {
			console.log(response)
			return response.json()
		})
		.then(data => {
			var rows="";
		  	data.forEach(function(element, index) {
		  		var tr="<tr>"
		  		tr+=`<td>${index}</td>`
		  		tr+=`<td>${element.genre_id}</td>`
		  		tr+=`<td>${element.name}</td>`
		  		tr+=`<td><buton class="btn btn-success" data-id="${element._id}" onclick="loadgenremodal(\'${element.genre_id}\')">Update</button></td>`
		  		tr+=`<td><buton class="btn btn-warning" data-id="${element._id}" onclick="deleteGenre(\'${element.genre_id}\')">Delete</button></td>`
		  		tr+="</tr>"
		  		rows+=tr
			});
			$("#genretable").html(rows)
		});
	}

	function loadgenremodal(genreid){
		$('#genre_id_modal').val(genreid);
		$('#updategenre').modal('show');

	}

	function updateGenre(){
		const token = localStorage.getItem('token');
		var genre_id=$("#genre_id_modal").val()
		var name=$("#genre_id_modal").val()
		
		// Example of storing the JWT after login
		fetch('http://localhost:3000/api/admin/deletegenre', {
		  mode: 'cors',
		  method: 'PUT',
		  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`},
		  body: JSON.stringify({genre_id:genre_id,name:name})
		})
		.then(response => {
			console.log(response)
			return response.json()
		})
		.then(data => {
			console.log(data)
			location.href = "/dashboard";
			$("#log").html("Genre Updated Successfully")
		});
	}

	function deleteGenre(genre_id){
		const token = localStorage.getItem('token');
		alert(genre_id)
		// Example of storing the JWT after login
		fetch('http://localhost:3000/api/admin/deletegenre', {
		  mode: 'cors',
		  method: 'POST',
		  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`},
		  body: JSON.stringify({genre_id:genre_id})
		})
		.then(response => {
			console.log(response)
			return response.json()
		})
		.then(data => {
			console.log(data)
			location.href = "/dashboard";
			$("#log").html("Genre Deleted Successfully")
		});
	}


	// get the genres through the ap/admin/readgenres endpoint
	readGenres();


</script>

	</body>
</html>

