<!doctype html>
<html lang="en">
  <head>
  	<title>Music Library Management | Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	
	<link rel="stylesheet" href="css/style.css">

	<script type="text/javascript">
		function checkAuth(){
			const token = localStorage.getItem('token');
			if(!token){
				location.href = "/";
			}
		}
		// check that we have a JWT Token 
		// if no token is available prompt for login
		checkAuth()
	</script>


	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-12">

					<div>
				      	<div class="d-flex">
				      		<div>
				      			<h3 class="mb-4">Welcome to the Music Library Management Dashboard</h3>
				      		</div>			
				      	</div>
						<div class="signin-form">
							<ul class="nav nav-tabs" role="tablist">
							  <li class="nav-item" role="presentation">
							    <a class="nav-link active" id="simple-tab-2" data-bs-toggle="tab" href="#genre" role="tab" aria-controls="simple-tabpanel-2" aria-selected="false">Genre</a>
							  </li>

							  <li class="nav-item" role="presentation">
							    <a class="nav-link" id="simple-tab-0" data-bs-toggle="tab" href="#artists" onclick="readArtists()" role="tab" aria-controls="simple-tabpanel-0" aria-selected="true">Artists</a>
							  </li>
							  <li class="nav-item" role="presentation">
							    <a class="nav-link" id="simple-tab-1" data-bs-toggle="tab" href="#albums" onclick="readAlbums()" role="tab" aria-controls="simple-tabpanel-1" aria-selected="false">Albums</a>
							  </li>
							  <li class="nav-item" role="presentation">
							    <a class="nav-link" id="simple-tab-2" data-bs-toggle="tab" href="#tracks" onclick="readTracks()" role="tab" aria-controls="simple-tabpanel-2" aria-selected="false">Tracks</a>
							  </li>
							</ul>

							<div class="tab-content pt-5" id="tab-content">
							 <!--  Genre Page -->
							  <div class="tab-pane active" id="genre" role="tabpanel" aria-labelledby="genre">
							  		
									<div class="card">
										<div class="p-4 p-md-5">
											<div class="row">
							  					<div class="col-md-4">
													<div class="d-flex">
											      		<div class="w-100">
											      			<h3 class="mb-4">Add Genre</h3>
											      		</div>			
										      		</div>
								      

											      	<div class="signin-form">
														<h4 class="mb-4" id="log" style="color: red"></h4>
											      		<div class="form-group mb-3">
											      			<label class="label" for="genre_id">Genre ID <span style="color: red">*</span></label>
											      			<input type="text" class="form-control" placeholder="Genre ID" id="genre_id" required>
											      		</div>

											            <div class="form-group mb-3">
											            	<label class="label" for="name">Genre Name <span style="color: red">*</span></label>
											              <input type="text" class="form-control" placeholder="Genre Name"  id="name" required>
											            </div>

											            <div class="form-group">
											            	<button type="button" class="form-control btn btn-primary rounded submit px-3" onclick="createGenre()">Add</button>
											            </div>
								          			</div>
								          		</div>

								          		<div class="col-md-8">
													<table class="table table-striped">
													  <thead>
													    <tr>
													      <th scope="col">#</th>
													      <th scope="col">Genre ID</th>
													      <th scope="col">Genre Name</th>
										
													    </tr>
													  </thead>
													  <tbody id="genretable">
													    
													  </tbody>
													</table>
								          		</div>
								          	</div>
					          			</div>
						      		</div>

							  </div>
							   <!--  End Genre Page -->

							    <!-- Artists Page -->
							  <div class="tab-pane" id="artists" role="tabpanel" aria-labelledby="simple-tab-2">
									<div class="card">
										<div class="p-4 p-md-5">
											<div class="row">
							  					<div class="col-md-4">
													<div class="d-flex">
											      		<div class="w-100">
											      			<h3 class="mb-4">Add Artist</h3>
											      		</div>			
										      		</div>
								      

											      	<div class="signin-form">
														<h4 class="mb-4" id="log" style="color: red"></h4>
											      		<div class="form-group mb-3">
											      			<label class="label" for="name">Artist ID <span style="color: red">*</span></label>
											      			<input type="text" class="form-control" placeholder="Artist ID" id="artist_id" required>
											      		</div>

											            <div class="form-group mb-3">
											            	<label class="label" for="password">Artist Name <span style="color: red">*</span></label>
											              <input type="text" class="form-control" placeholder="Artist Name"  id="artist_name" required>
											            </div>

											             <div class="form-group mb-3">
											            	<label class="label" for="password">Country <span style="color: red">*</span></label>
											              <input type="text" class="form-control" placeholder="Country"  id="country" required>
											            </div>

											            <div class="form-group">
											            	<button type="button" class="form-control btn btn-primary rounded submit px-3" onclick="createArtist()">Add</button>
											            </div>
								          			</div>
								          		</div>

								          		<div class="col-md-8">
													<table class="table table-striped">
													  <thead>
													    <tr>
													      <th scope="col">#</th>
													      <th scope="col">Artist ID</th>
													      <th scope="col">Artist Name</th>
													      <th scope="col">Country</th>
										
													    </tr>
													  </thead>
													  <tbody id="artisttable">
													   
													   

													  </tbody>
													</table>
								          		</div>
								          	</div>
					          			</div>
						      		</div>
							  </div>
							  <!-- End Artists Page -->

							    <!-- Albums Page -->
							  <div class="tab-pane" id="albums" role="tabpanel" aria-labelledby="simple-tab-2">
							  	<div class="card">
										<div class="p-4 p-md-5">
											<div class="row">
							  					<div class="col-md-4">
													<div class="d-flex">
											      		<div class="w-100">
											      			<h3 class="mb-4">Add Album</h3>
											      		</div>			
										      		</div>
								      

											      	<div class="signin-form">
														<h4 class="mb-4" id="log" style="color: red"></h4>
											      		<div class="form-group mb-3">
											      			<label class="label" for="name">Artist <span style="color: red">*</span></label>
											      			<select class="form-control" id="artist_select">
											      				<option value="">Select Artist</option>
											      			</select>
											      		</div>

											            <div class="form-group mb-3">
											            	<label class="label" for="password">Album Name <span style="color: red">*</span></label>
											              <input type="text" class="form-control" placeholder="Album Name"  id="album_name" required>
											            </div>


											            <div class="form-group">
											            	<button type="button" class="form-control btn btn-primary rounded submit px-3" onclick="createAlbum()">Add</button>
											            </div>
								          			</div>
								          		</div>

								          		<div class="col-md-8">
													<table class="table table-striped">
													  <thead>
													    <tr>
													      <th scope="col">#</th>
													      <th scope="col">Artist Name</th>
													      <th scope="col">Album Name</th>
										
													    </tr>
													  </thead>
													  <tbody id="albumtable">
													    
													   

													  </tbody>
													</table>
								          		</div>
								          	</div>
					          			</div>
						      		</div>
							  </div>
							  <!-- End Albums Page -->


							  <!--  Tracks page -->
							  <div class="tab-pane" id="tracks" role="tabpanel" aria-labelledby="tracks">

							  	<div class="card">
										<div class="p-4 p-md-5">
											<div class="row">
							  					<div class="col-md-4">
													<div class="d-flex">
											      		<div class="w-100">
											      			<h3 class="mb-4">Add Track</h3>
											      		</div>			
										      		</div>
								      

											      	<div class="signin-form">
														<h4 class="mb-4" id="log" style="color: red"></h4>
											      		<div class="form-group mb-3">
											      			<label class="label" for="name">Track Name <span style="color: red">*</span></label>
											      			<input type="text" class="form-control" placeholder="Track Name" id="track_name" required>
											      		</div>

											            <div class="form-group mb-3">
											            	<label class="label" for="password">Track Length<span style="color: red">*</span></label>
											              <input type="text" class="form-control" placeholder="Track Length"  id="length" required>
											            </div>

											            <div class="form-group mb-3">
											            	<label class="label" for="password">Genre <span style="color: red">*</span></label>
											              	<select class="form-control" id="genre_select">
											              		<option value="">genre</option>
											              	</select>
											            </div>

											            <div class="form-group mb-3">
											            	<label class="label" for="password">Album <span style="color: red">*</span></label>
											              	<select class="form-control" id="album_select">
											              		<option value="">Album</option>
											              	</select>
											            </div>


											            <div class="form-group">
											            	<button type="button" class="form-control btn btn-primary rounded submit px-3" onclick="createTrack()">Add</button>
											            </div>
								          			</div>
								          		</div>

								          		<div class="col-md-8">
													<table class="table table-striped">
													  <thead>
													    <tr>
													      <th scope="col">#</th>
													      <th scope="col">Track Name</th>
													      <th scope="col">Track Length</th>
													      <th scope="col">Genre</th>
													      <th scope="col">Album</th>
										
													    </tr>
													  </thead>
													  <tbody id="tracktable">
													   

													  </tbody>
													</table>
								          		</div>
								          	</div>
					          			</div>
						      		</div>
							  	
							  </div>
							 <!--  End Tracks -->

							 <!-- Modals Section -->

							<!--  Update Genre Modal -->
							<div class="modal" tabindex="-1" role="dialog" id="updategenre">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
									    <div class="modal-header">
									        <h5 class="modal-title">Update A Genre</h5>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									    </div>
									    <div class="modal-body">
									        <div class="form-group mb-3">
											    <label class="label" for="name">Data ID <span style="color: red">*</span></label>
											    <input type="text" class="form-control" placeholder="Genre ID" id="genre_id_modal" required>
											</div>

											<div class="form-group mb-3">
											    <label class="label" for="name">Name <span style="color: red">*</span></label>
											    <input type="text" class="form-control" placeholder="Genre Name" id="genre_name_modal" required>
											</div>

									    </div>
									    <div class="modal-footer">
									        <button type="button" class="btn btn-primary" onclick="updateGenre()">Save changes</button>
									        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeGenreModal()">Close</button>
									    </div>
									</div>
								</div>
							</div>
							<!--  End Update Genre Modal -->



							<!--  Update Artist Modal -->
							<div class="modal" tabindex="-1" role="dialog" id="updateartist">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
									    <div class="modal-header">
									        <h5 class="modal-title">Update An Artist</h5>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									    </div>
									    <div class="modal-body">
									        <div class="form-group mb-3">
											    <label class="label" for="name">Data ID <span style="color: red">*</span></label>
											    <input type="text" class="form-control" placeholder="Artist ID" id="artist_id_modal" required>
											</div>

											<div class="form-group mb-3">
											    <label class="label" for="name">Name <span style="color: red">*</span></label>
											    <input type="text" class="form-control" placeholder="Artist Name" id="artist_name_modal" required>
											</div>

											<div class="form-group mb-3">
											    <label class="label" for="name">Country <span style="color: red">*</span></label>
											    <input type="text" class="form-control" placeholder="Artist Country" id="artist_country_modal" required>
											</div>

									    </div>
									    <div class="modal-footer">
									        <button type="button" class="btn btn-primary" onclick="updateArtist()">Save changes</button>
									        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeArtistModal()">Close</button>
									    </div>
									</div>
								</div>
							</div>
							<!--  End Update Artist Modal -->


							<!--  Update Album Modal -->
							<div class="modal" tabindex="-1" role="dialog" id="updatealbum">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
									    <div class="modal-header">
									        <h5 class="modal-title">Update An Album</h5>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									    </div>
									    <div class="modal-body">
									        <div class="form-group mb-3">
											    <label class="label" for="name">Data ID <span style="color: red">*</span></label>
											    <input type="text" class="form-control" placeholder="Album ID" id="album_id_modal" required>
											</div>

											<div class="form-group mb-3">
											    <label class="label" for="name">Name <span style="color: red">*</span></label>
											    <input type="text" class="form-control" placeholder="Album Name" id="album_name_modal" required>
											</div>

									    </div>
									    <div class="modal-footer">
									        <button type="button" class="btn btn-primary" onclick="updateAlbum()">Save changes</button>
									        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeAlbumModal()">Close</button>
									    </div>
									</div>
								</div>
							</div>
							<!--  End Update Artist Modal -->


								<!--  Update Album Modal -->
							<div class="modal" tabindex="-1" role="dialog" id="updatetrack">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
									    <div class="modal-header">
									        <h5 class="modal-title">Update A Track</h5>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									    </div>
									    <div class="modal-body">
									        <div class="form-group mb-3">
											    <label class="label" for="name">Data ID <span style="color: red">*</span></label>
											    <input type="text" class="form-control" placeholder="Track ID" id="track_id_modal" required>
											</div>

											<div class="form-group mb-3">
											    <label class="label" for="name">Track Name <span style="color: red">*</span></label>
											    <input type="text" class="form-control" placeholder="Album Name" id="track_name_modal" required>
											</div>

											<div class="form-group mb-3">
											    <label class="label" for="name">Track Length <span style="color: red">*</span></label>
											    <input type="text" class="form-control" placeholder="Track Length" id="track_length_modal" required>
											</div>

									    </div>
									    <div class="modal-footer">
									        <button type="button" class="btn btn-primary" onclick="updateTrack()">Save changes</button>
									        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeTrackModal()">Close</button>
									    </div>
									</div>
								</div>
							</div>
							<!--  End Update Artist Modal -->


							 

							</div>
							
		           
		          		</div>
		         
		        		</div>
		      		</div>
				</div>
			</div>
		</div>
	</section>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

<script>

	// Genre Management API Calls
	function createGenre(){
		const token = localStorage.getItem('token');
		var genre_id=$("#genre_id").val()
		var name=$("#name").val()
		// Example of storing the JWT after login
		fetch('http://localhost:3000/api/admin/creategenre', {
		  mode: 'cors',
		  method: 'POST',
		  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`},
		  body: JSON.stringify({genre_id:genre_id,name:name})
		})
		.then(response => {
			console.log(response)
			return response.json()
		})
		.then(data => {
			console.log(data)
			location.href = "/dashboard";
			$("#log").html("Genre Created Successfully")

		});
	}

	async function readGenres(){
		var genreData=""

		const token = localStorage.getItem('token');
		// Example of storing the JWT after login
		await fetch('http://localhost:3000/api/admin/readgenres', {
		  mode: 'cors',
		  method: 'GET',
		  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`}
		})
		.then(response => {
			console.log(response)
			return response.json()
		})
		.then(data => {
			genreData=data
			var rows="";
		  	data.forEach(function(element, index) {
		  		// Update the Table on genre page
		  		var tr="<tr>"
		  		tr+=`<td>${index}</td>`
		  		tr+=`<td>${element.genre_id}</td>`
		  		tr+=`<td>${element.name}</td>`
		  		tr+=`<td><buton class="btn btn-success" data-id="${element._id}" onclick="loadgenremodal(\'${element._id}\')">Update</button></td>`
		  		tr+=`<td><buton class="btn btn-warning" data-id="${element._id}" onclick="deleteGenre(\'${element._id}\')">Delete</button></td>`
		  		tr+="</tr>"
		  		rows+=tr

		  		// Update the Select on the artists pages

			});
			$("#genretable").html(rows)
		});
		return genreData
	}

	function loadgenremodal(genreid){
		$('#genre_id_modal').val(genreid);
		$('#updategenre').modal('show');

	}

	function closeGenreModal(){
		$('#updategenre').modal('hide');
	}

	function updateGenre(){
		const token = localStorage.getItem('token');
		var genre_id=$("#genre_id_modal").val()
		var name=$("#genre_name_modal").val()
		
		// Example of storing the JWT after login
		fetch('http://localhost:3000/api/admin/updategenre', {
		  mode: 'cors',
		  method: 'PUT',
		  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`},
		  body: JSON.stringify({genre_id:genre_id,name:name})
		})
		.then(response => {
			console.log(response)
			return response.json()
		})
		.then(data => {
			console.log(data)
			location.href = "/dashboard";
			$("#log").html("Genre Updated Successfully")
		});
	}

	function deleteGenre(genre_id){
		const token = localStorage.getItem('token');
		alert(genre_id)
		// Example of storing the JWT after login
		fetch('http://localhost:3000/api/admin/deletegenre', {
		  mode: 'cors',
		  method: 'POST',
		  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`},
		  body: JSON.stringify({genre_id:genre_id})
		})
		.then(response => {
			console.log(response)
			return response.json()
		})
		.then(data => {
			console.log(data)
			location.href = "/dashboard";
			$("#log").html("Genre Deleted Successfully")
		});
	}


	// get the genres through the ap/admin/readgenres endpoint
	readGenres();
	// END Genre Management API Calls


	// Artist Management API Calls
	function createArtist(){
		const token = localStorage.getItem('token');
		var artist_id=$("#artist_id").val()
		var name=$("#artist_name").val()
		var country=$("#country").val()
		// Example of storing the JWT after login
		fetch('http://localhost:3000/api/admin/createartist', {
		  mode: 'cors',
		  method: 'POST',
		  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`},
		  body: JSON.stringify({artist_id:artist_id,name:name,country:country})
		})
		.then(response => {
			console.log(response)
			return response.json()
		})
		.then(data => {
			console.log(data)
			location.href = "/dashboard";
			$("#log").html("Artist Created Successfully")

		});
	}

	async function readArtists(){
		var artistsData=""

		const token = localStorage.getItem('token');
		// Example of storing the JWT after login
		await fetch('http://localhost:3000/api/admin/readartists', {
		  mode: 'cors',
		  method: 'GET',
		  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`}
		})
		.then(response => {
			console.log(response)
			return response.json()
		})
		.then(data => {
			artistsData=data

			var rows="";
		  	data.forEach(function(element, index) {
		  		var tr="<tr>"
		  		tr+=`<td>${index}</td>`
		  		tr+=`<td>${element.artist_id}</td>`
		  		tr+=`<td>${element.name}</td>`
		  		tr+=`<td><buton class="btn btn-success" data-id="${element._id}" onclick="loadartistmodal(\'${element._id}\')">Update</button></td>`
		  		tr+=`<td><buton class="btn btn-warning" data-id="${element._id}" onclick="deleteArtist(\'${element._id}\')">Delete</button></td>`
		  		tr+="</tr>"
		  		rows+=tr
			});
			$("#artisttable").html(rows)
		});
		console.log(artistsData)
		return artistsData;
	}

	function loadartistmodal(genreid){
		$('#artist_id_modal').val(genreid);
		$('#updateartist').modal('show');

	}

	function closeArtistModal(){
		$('#updateartist').modal('hide');
	}

	function updateArtist(){
		const token = localStorage.getItem('token');
		var artist_id=$("#artist_id_modal").val()
		var name=$("#artist_name_modal").val()
		var country=$("#artist_country_modal").val()
		
		// Example of storing the JWT after login
		fetch('http://localhost:3000/api/admin/updateartist', {
		  mode: 'cors',
		  method: 'PUT',
		  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`},
		  body: JSON.stringify({artist_id:artist_id,name:name,country: country})
		})
		.then(response => {
			console.log(response)
			return response.json()
		})
		.then(data => {
			console.log(data)
			location.href = "/dashboard";
			$("#log").html("Artist Updated Successfully")
		});
	}

	function deleteArtist(artist_id){
		const token = localStorage.getItem('token');
		
		// Example of storing the JWT after login
		fetch('http://localhost:3000/api/admin/deleteartist', {
		  mode: 'cors',
		  method: 'POST',
		  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`},
		  body: JSON.stringify({genre_id:genre_id})
		})
		.then(response => {
			console.log(response)
			return response.json()
		})
		.then(data => {
			console.log(data)
			location.href = "/dashboard";
			$("#log").html("Genre Deleted Successfully")
		});
	}

	// Album Management API Calls
	function createAlbum(){
		const token = localStorage.getItem('token');
		var artist_id=$("#artist_select").val()
		var name=$("#album_name").val()
		// Example of storing the JWT after login
		fetch('http://localhost:3000/api/admin/createalbum', {
		  mode: 'cors',
		  method: 'POST',
		  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`},
		  body: JSON.stringify({artist_id:artist_id,name:name})
		})
		.then(response => {
			console.log(response)
			return response.json()
		})
		.then(data => {
			console.log(data)
			location.href = "/dashboard";
			$("#log").html("Album Created Successfully")

		});
	}

	async function readAlbums(){
		let albumData=""
		let artistData=""

		const token = localStorage.getItem('token');

		await readArtists().then(artist=> {
			artistData=artist
			console.log(artistData)
		});

		await fetch('http://localhost:3000/api/admin/readalbums', {
			  mode: 'cors',
			  method: 'GET',
			  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`}
			})
			.then(response => {
				console.log(response)
				return response.json()
			})
			.then(data => {
				albumData=data

				let options=`<option value="">Select Artist</option>`

				var rows="";
			  	data.forEach(function(element, index) {
			  		// Update the Table on genre page
			  		var tr="<tr>"
			  		tr+=`<td>${index}</td>`
					var artist_name="";
			  		// search the artists name from artists data
			  		artistData.forEach(function(elem, ind) {
			  			options+=`<option value="${elem.artist_id}">${elem.name}</option>`
			  			if(elem.artist_id==element.artist_id){
							artist_name=elem.name
			  			}
			  		});


			  		tr+=`<td>${artist_name}</td>`
			  		tr+=`<td>${element.name}</td>`
			  		tr+=`<td><buton class="btn btn-success" data-id="${element._id}" onclick="loadalbummodal(\'${element._id}\')">Update</button></td>`
			  		tr+=`<td><buton class="btn btn-warning" data-id="${element._id}" onclick="deleteAlbum(\'${element._id}\')">Delete</button></td>`
			  		tr+="</tr>"
			  		rows+=tr

			  		// Update the Select on the artists pages

				});
				$("#albumtable").html(rows)
				$("#artist_select").html(options)
			});
		return albumData
	}

	function loadalbummodal(albumid){
		$('#album_id_modal').val(albumid);
		$('#updatealbum').modal('show');

	}

	function closeAlbumModal(){
		$('#updatealbum').modal('hide');
	}

	function updateAlbum(){
		const token = localStorage.getItem('token');
		var album_id=$("#album_id_modal").val()
		var name=$("#album_name_modal").val()
		
		// Example of storing the JWT after login
		fetch('http://localhost:3000/api/admin/updatealbum', {
		  mode: 'cors',
		  method: 'PUT',
		  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`},
		  body: JSON.stringify({id:album_id,name:name})
		})
		.then(response => {
			console.log(response)
			return response.json()
		})
		.then(data => {
			console.log(data)
			location.href = "/dashboard";
			$("#log").html("Album Updated Successfully")
		});
	}

	function deleteAlbum(album_id){
		const token = localStorage.getItem('token');
		// Example of storing the JWT after login
		fetch('http://localhost:3000/api/admin/deletealbum', {
		  mode: 'cors',
		  method: 'POST',
		  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`},
		  body: JSON.stringify({id:album_id})
		})
		.then(response => {
			console.log(response)
			return response.json()
		})
		.then(data => {
			console.log(data)
			location.href = "/dashboard";
			$("#log").html("Album Deleted Successfully")
		});
	}
	// End Album Management API Calls


	// Track Management API Calls
	function createTrack(){
		const token = localStorage.getItem('token');
		var name=$("#track_name").val()
		var length=$("#track_length").val()
		var genre_id=$("#genre_select").val()
		var album_id=$("#album_select").val()
		// Example of storing the JWT after login
		fetch('http://localhost:3000/api/admin/createtrack', {
		  mode: 'cors',
		  method: 'POST',
		  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`},
		  body: JSON.stringify({name:name,length:length,genre_id:genre_id,album_id:album_id})
		})
		.then(response => {
			console.log(response)
			return response.json()
		})
		.then(data => {
			console.log(data)
			location.href = "/dashboard";
			$("#log").html("Track Created Successfully")

		});
	}

	async function readTracks(){
		var albumData=""
		var genreData=""

		const token = localStorage.getItem('token');

		await readAlbums().then(albums=> {
				albumData=albums
		});

		await readGenres().then(genres=> {
				genreData=genres
		});
			
		await fetch('http://localhost:3000/api/admin/readtracks', {
			  mode: 'cors',
			  method: 'GET',
			  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`}
			})
			.then(response => {
				console.log(response)
				return response.json()
			})
			.then(data => {
				let genreOptions=`<option value="">Select Genre</option>`
				let albumOptions=`<option value="">Select Album</option>`

				var rows="";
			  	data.forEach(function(element, index) {
			  		// Update the Table on genre page
			  		var tr="<tr>"
			  		tr+=`<td>${index}</td>`
					var album_name="";
					var genre_name="";

			  		// search genre and update genre select
			  		genreData.forEach(function(elem, ind) {
			  			genreOptions+=`<option value="${elem.genre_id}">${elem.name}</option>`
			  			if(elem.genre_id==element.genre_id){
							genre_name=elem.name
			  			}
			  		});

			  		// search album and update album select
			  		albumData.forEach(function(ele, inde) {
			  			albumOptions+=`<option value="${ele.album_id}">${ele.name}</option>`
			  			if(ele.album_id==element.album_id){
							album_name=ele.name
			  			}
			  		});


			  		tr+=`<td>${element.name}</td>`
			  		tr+=`<td>${element.length}</td>`
			  		tr+=`<td>${genre_name}</td>`
			  		tr+=`<td>${album_name}</td>`
			  		tr+=`<td><buton class="btn btn-success" data-id="${element._id}" onclick="loadtrackmodal(\'${element._id}\')">Update</button></td>`
			  		tr+=`<td><buton class="btn btn-warning" data-id="${element._id}" onclick="deleteTrack(\'${element._id}\')">Delete</button></td>`
			  		tr+="</tr>"
			  		rows+=tr

			  		// Update the Select on the artists pages

				});
				$("#tracktable").html(rows)
				$("#genre_select").html(genreOptions)
				$("#album_select").html(albumOptions)
			});

	}

	function loadtrackmodal(trackid){
		$('#track_id_modal').val(trackid);
		$('#updatetrack').modal('show');

	}

	function closeTrackModal(){
		$('#updatetrack').modal('hide');
	}

	function updateTrack(){
		const token = localStorage.getItem('token');
		var track_id=$("#track_id_modal").val()
		var name=$("#track_name_modal").val()
		var length=$("#track_length_modal").val()
		
		// Example of storing the JWT after login
		fetch('http://localhost:3000/api/admin/updatetrack', {
		  mode: 'cors',
		  method: 'PUT',
		  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`},
		  body: JSON.stringify({id:track_id,name:name,length:length})
		})
		.then(response => {
			console.log(response)
			return response.json()
		})
		.then(data => {
			console.log(data)
			location.href = "/dashboard";
			$("#log").html("Track Updated Successfully")
		});
	}

	function deleteTrack(track_id){
		const token = localStorage.getItem('token');
		// Example of storing the JWT after login
		fetch('http://localhost:3000/api/admin/deletealbum', {
		  mode: 'cors',
		  method: 'POST',
		  headers: { 'Content-Type': 'application/json','x-access-token': `${token}`},
		  body: JSON.stringify({id:track_id})
		})
		.then(response => {
			console.log(response)
			return response.json()
		})
		.then(data => {
			console.log(data)
			location.href = "/dashboard";
			$("#log").html("Track Deleted Successfully")
		});
	}
	// End Album Management API Calls




</script>

	</body>
</html>

